:root{
	--primary: #a5c882;
	--secondary: #d33f49;
	--light: #fff;
	--dark: #000;
	--disabled: #e7e7e7;
}

body {
	margin: 0;
	background-color: var(--disabled);
	font-family: 'Roboto', sans-serif;;
}

.noselect {
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.bodyDark {
	background-color: var(--dark)!important;
}

.taskListDark{
	background-color: #323232!important;
}

.inputDark {
	background-color: var(--dark)!important;

	border: 2px solid var(--light);
}

.listDark {
	background-color: #14172D!important;
}

*:first-letter {
	text-transform: capitalize;
}

#title{
	color: var(--dark);
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	letter-spacing: 4px;
}
.textDark {
	color: var(--light)!important;
}

#header{
	white-space: nowrap;
	margin: 25px auto;
	height: 50px;
	width: 300px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#topContainer{
	margin: 0 auto;
	padding: 0;
	height: 500px;
	width: 100%;
	max-width: 1000px;
}

#quotes{
	font-family: 'Aboreto', cursive;
	font-size: 12px;
	float: left;
	margin-left: 2%;
	width: 25%;
	text-align: center;
}

#button{
	margin-top: -100px;
	width: 200px;
	float: right;
}

#theme{
	background: none;
	border: none;
	float: right;
	margin-right: 20px;
	margin-top: 12px;
	max-width: 50px;
	max-height: 30px;
}

#darkText{
	float: left;
	margin-left: 20px;
	font-weight: 900;
}

#theme img{
	position: relative;
	right: 10px;
	bottom: 8px;
	width: 60px;
	height: 40px;
	cursor: pointer;
}
.darkMoon{
	filter: invert(1);
}


.roundBorder {
	border-radius: 5px;
}

.list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 25px;
	background-color: var(--light);
	width: 100%;
	max-width: 350px;
}

.date {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dateRight {
	display: flex;
	align-items: center;
}
#dateNumber {
	font-size: 50px;
}
#dateText {
	letter-spacing: 3px;
	font-size: 20px;
	text-transform: uppercase;
}
#dateMonth,
#dateNumber,
#dateText {
	font-weight: bold;
}

#dateMonth,
#dateYear {
	margin-left: 7px;
	font-size: 20px;
}

form {
	margin: 20px 0;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 35px auto;
	grid-column-gap: 15px;
}

input {
	border: none;
	padding-left: 10px;
	background-color: var(--disabled);
}

input:focus {
	outline: none;
}

.addTaskButton,
.orderButton {
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.addTaskButton {
	height: 35px;
	border-radius: 50%;
	font-size: 18px;
	background-color: var(--disabled);
}

.orderButton{
	background-color: var(--secondary);
	color: var(--light);
}

.task {
	background-color: var(--primary);
	padding: 15px;
	margin-top: 15px;
	color: var(--light);
	cursor: pointer;
}
.taskDark {
	background-color: var(--dark);!important;
	color: var(--light)!important;
	border: 2px solid var(--light);
}

.done{
	background-color: var(--disabled);
	text-decoration: line-through;
	color: var(--dark);
}

.doneDark{
	background-color: black!important;
	text-decoration: line-through;
	color: white!important;
}

